NODE_ENV=production

# ==================================================
# APIs
# ==================================================

# API Gateway — HTTP
API_GATEWAY_HOST=http://localhost
API_GATEWAY_PREFIX=gateway/api/v1
API_GATEWAY_PORT=4000
API_GATEWAY_URL=https://gateway.ebtkar.net/${API_GATEWAY_PREFIX}


# Auth Microservice — TCP
API_AUTH_HOST=api-auth
API_AUTH_PORT=1001
API_AUTH_URL=tcp://${API_AUTH_HOST}:${API_AUTH_PORT}

# Warehouse Microservice — TCP
API_WAREHOUSE_HOST=127.0.0.1
API_WAREHOUSE_PORT=4002
API_WAREHOUSE_URL=tcp://${API_WAREHOUSE_HOST}:${API_WAREHOUSE_PORT}


# Messaging Microservice — TCP
API_MESSAGING_HOST=api-messaging
API_MESSAGING_PORT=1003
API_MESSAGING_URL=tcp://${API_MESSAGING_HOST}:${API_MESSAGING_PORT}


# ==================================================
# Web Applications
# ==================================================

# Shared backend URL used by web applications
API_URL=${API_GATEWAY_URL}

# Auth Web
AUTH_HOST=http://localhost
AUTH_PORT=7000
AUTH_URL=https://auth.ebtkar.net

# Admin Web
ADMIN_HOST=http://localhost
ADMIN_PORT=7001
ADMIN_URL=https://admin.ebtkar.net

# Warehouse Web
WAREHOUSE_HOST=http://localhost
WAREHOUSE_PORT=7002
WAREHOUSE_PREFIX=warehouse/api/v1
WAREHOUSE_URL=${WAREHOUSE_HOST}:${WAREHOUSE_PORT}/${WAREHOUSE_PREFIX}


# ==================================================
# Tokens
# ==================================================

ACCESS_TOKEN_SECRET=CHANGE_ME
REFRESH_TOKEN_SECRET=CHANGE_ME
ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=7d


# ==================================================
# Kafka
# ==================================================
KAFKA_HOST=kafka
KAFKA_PORT=9092


# ==================================================
# Redis
# ==================================================
REDIS_HOST=redis
REDIS_PORT=6379


# ==================================================
# Mail
# ==================================================
MAIL_HOST=mail.ebtkar.net
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=CHANGE_ME
MAIL_PASSWORD=CHANGE_ME
MAIL_FROM=contact@ebtkar.net


# ==================================================
# Databases
# ==================================================

DATABASE_USERNAME=postgres
DATABASE_PASSWORD=CHANGE_ME
DATABASE_HOST=CHANGE_ME_PRODUCTION_DATABASE_HOST
DATABASE_PORT=5432

AUTH_DATABASE_NAME=ebtkar_auth
ADMIN_DATABASE_NAME=ebtkar_admin
WAREHOUSE_DATABASE_NAME=ebtkar_warehouse
NOTIFICATION_DATABASE_NAME=ebtkar_notification

ADMIN_DATABASE_URL=CHANGE_ME
AUTH_DATABASE_URL=CHANGE_ME
WAREHOUSE_DATABASE_URL=CHANGE_ME
NOTIFICATION_DATABASE_URL=CHANGE_ME